body{
	margin: 0;
	padding: 0;
	background: #222222;
}
h1{
	color:rgba(255, 255, 255, 0.801);
	font-family: Arial, Helvetica, sans-serif
}
::-webkit-input-placeholder { /* Chrome */
	color: rgb(255, 255, 255);
  }
  :-ms-input-placeholder { /* IE 10+ */
	color: rgb(255, 255, 255);
  }
  ::-moz-placeholder { /* Firefox 19+ */
	color: rgb(255, 255, 255);
	opacity: 1;
  }
  :-moz-placeholder { /* Firefox 4 - 18 */
	color: rgb(255, 255, 255);
	opacity: 1;
  }
.chat-wrapper{
	width:100%;
	height:auto;
	display: flex;
	flex-wrap:wrap;
	align-items: center;
	justify-content: center;
	flex-flow: column;
}
.chat-massege-block{
	width:600px;
	height:400px;
	overflow-y:hidden;
}
.send-btn-user{
	position: relative;
	top:-19px;
	width:150px;
	height: 50px;
	background: rgb(26, 26, 26);
	border:1px solid #222222;
	color:rgba(255, 255, 255, 0.801);
	border:1px solid rgb(49, 10, 10);
	outline: none;
	cursor: pointer;
}
.send-btn-user:active{
	opacity: 0.8;
}
.textarea-user{
	background: rgb(78, 78, 78);
	padding: 10px;
	color:#fff;
}
.massege-empty{
	border-color: red!important;
}

.result-wrap{
	display: flex;
}

.result-name, .result-massage{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color:#fff;
	float: left;
	margin-left: 20px;
}

.result-time{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color:rgb(47, 207, 33);
	float: left;
}

